Alyson<alysoncesarfumagalli@gmail.com> Alyson César Fumagalli <127056544+alysonfumagalli@users.noreply.github.com>
Alyson<alysoncesarfumagalli@gmail.com> Alyson Fumagalli <alysoncesarfumagalli@gmail.com>
Alyson<alysoncesarfumagalli@gmail.com> alyson <alysoncesarfumagalli@gmail.com>

Bruno <brunoalmeidafischer@gmail.com> Bruno Fischer <79703453+bruno-fisho@users.noreply.github.com>
Bruno <brunoalmeidafischer@gmail.com> Bruno Fischer <brunoalmeidafischer@gmail.com>

Eliel <126016150+Recr@users.noreply.github.com> Eliel da Silva <126016150+Recr@users.noreply.github.com>
Eliel <126016150+Recr@users.noreply.github.com> Recr <126016150+Recr@users.noreply.github.com>

Giovanna <giovanna.camille@aluno.ifsp.edu.br> Carvalho <GCARVA24@ford.com>
Giovanna <giovanna.camille@aluno.ifsp.edu.br> Giovanna <giovanna.camille@aluno.ifsp.edu.br>

Henrique <henrique14piressantiago@gmail.com> Henrique Santiago <henrique14piressantiago@gmail.com>
Henrique <henrique14piressantiago@gmail.com> Henrique Santiago Pires <88721828+santiagohenrique@users.noreply.github.com>
Henrique <henrique14piressantiago@gmail.com> santiagohenrique <henrique11santiagopires@hotmail.com>


Henrriky <tectutors.123@gmail.com>  Henrriky <70419346+Henrriky@users.noreply.github.com>
Henrriky <tectutors.123@gmail.com> Henrriky <tectutors.123@gmail.com>
Henrriky <tectutors.123@gmail.com> henrriky.dev <henrriky.dev@gmail.com>
