@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.form {
    width: 326px;
    display: flex;
    flex-direction: column;
    margin: 213px auto 0 auto;
    align-items: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: inherit;
}

.inputItem div {
    display: flex;
    gap: 12px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #424242;
    padding: 0;
}

input {
    width: 326px;
    height: 25px;
    background-color: transparent;
    border: transparent;
    color: #A8A6A6
}

input::placeholder {
    color: #A8A6A6;
}

button {
    border: transparent;
    height: 38px;
    border-radius: 24px 2px 24px 2px;
}

.loginButtons {
    margin-top: 177px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 90.8%;
}

.loginButtons button {
    box-shadow: 0px 4px 4px 0px #3A3027;
}

.mailLogin {
    background-color: #A4978A;
}

/* .googleLogin {
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #DBDBDB;
} */

.auxOptions {
    margin-top: 13px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.auxOptionsItem {
    color: #A8A6A6;
    text-decoration: none;
}